/* CSS declarations go here */
body {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  line-height: 1.5;
  color: #424242;
  margin: 20px 0 0 0;;
  background-color: #e5e5e5;
}

span.left {
  float: right;
}

#main {
  margin: 50px auto;
}

.layoutDetail .leftPanel {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	height: 100%;
	width: 340px;
  margin-top: 42px;
  padding-top: 80px;
	background-color: #69CC69;
	color: #EDE;
  box-shadow: 0 4px 16px black;
}

.layoutDetail .mainPanel {
	padding: 0 0 0 340px;
}

.tables, .users {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: white;
  margin: 0;
  box-shadow: 0 4px 16px black;
}

.header input {
  margin: 10px 0 10px 30px;;
  padding: 4px;
  background-color: white;
  border: none;
  box-shadow: 0 1px 4px black;
  cursor: pointer;
}

.users .user {
  float:left;
  width: 28%;
  height: 256px;
  margin: 2%;
  box-shadow: 0 1px 4px black;
  padding: 20px 0;
  background-color: white;
  cursor: pointer;
}

.users .user:hover {
  box-shadow: 0 2px 8px black;
}
.header input:hover {
  box-shadow: 0 1px 2px black;
}

.header input:focus {
  outline: none;
}
.header input:active {
  box-shadow: 0 2px 8px black;
}


.user {
	text-align: center;
}
.user img.avatar{
  height: 66px;
  width: 66px;
  border-radius: 50%;
  border: 6px #424242 dashed;
}

.user:nth-child(2n) img.avatar{
  border-color: #cc6969;
}
.user:nth-child(5n) img.avatar{
  border-color: #69cc69;
}

.user:nth-child(7n) img.avatar{
  border-style: solid dotted solid dotted;
}

.user:nth-child(3n) img.avatar{
  border-style: solid dashed solid dashed !important;
  border-width: 10px !important;
}

.user h2 a, .user h2 a:active {
  font-size: 24px;
  text-decoration: none;
  color: blue;
}

.tableHistory {
  width: 40%;
  margin: 2%;
  float: left;
  box-shadow: 0 1px 3px black;
  padding: 10px;
  background-color: white;
}
